*{
  font-family: Helvetica, sans-serif, Arial;
}


body{
  background: #121212;
  min-height: 200vh;
  
}




/*--------------------------------------------------- nav-------------------------------------------- */


.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
  font-size: 0.98rem;
}

.button-nav{
  margin-left:40px;
  

}



nav .navbar-nav li a{
  color: white !important;
  }

.navbar-bg-left{
  position: absolute;
  top: -10%;
  left: -20%;
}

.navbar-bg-right{
  position: absolute;
left: 18.59%;
right: -4.91%;
top: -2.38%;
bottom: 97.87%;
transform: rotate(1.99deg);
}











  /* ------------------------------------------------------------------------------------------------------- */
.hero-section{
  margin-top: 10%;
}

.container-fluid{
  padding: 1.5% 4%;
}

.box-1 img{
  height:300px;
  width: 450px;
}

.date-hero-page{
  margin-top: -12%;
  margin-left: 8%;
  width: 60%;

}

.box-1 h3{
font-size: 1.2rem;
color: #ffffff;
outline: 1px solid red;
border-radius: 2%;
padding: 1%;
}

.box-1 h3 btn-outline-danger{
  padding: 1%;
}


.box-2 img{
  height: 500px;
  width: 600px;
}


/* responsive */

@media screen and (max-width:960px){

  .box-1 img{
    height:500px;
    width: 650px;
  }
  
  .box-2 img{
    height: 700px;
    width: 850px;
  }
  
  
}

@media screen and (max-width:600px){

  body{
    text-align: center;
    align-items: center;
    margin: auto;
  }

  .box-1 img{
    height:500px;
    width: 550px;
  }
  
  .box-2 img{
    height: 500px;
    width: 650px;
  }
  
  
}