/* custom----------------------------------------------------- */


*{
margin: 0;
padding: 0;
font-family:  Helvetica, sans-serif, Arial;
}

body{

    background-color: #121212;
    height: 200vh;
    color: #ffffff;
    scroll-behavior: smooth 0.5s ease;
}









/* Navbar------------------------------------------------------- */
.navbar-custom a{
    color: #ffffff !important;
    font-size: 1rem;
}




.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #ffffff;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #E62B1E;
    
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .hover-underline-animation:hover{
      color: #ffffff;
  }




.navbar-custom button{
    outline: #E62B1E;
}


.navbar-custom button:hover{
    background-color: #E62B1E;
}


.nav-right-illustration{
    position: absolute;
    right: 0%;
    top: -13.01%;
transform: rotate(1.99deg);
}





.hero-image-text{
height: 300px;
width: 300px;
}


.box-1-1 {
    position: relative;
    margin-top: -70px;
    display: inline-block;
    outline: solid #E62B1E 1px;
    border-radius: 8px;
    margin-left: 2rem;
    margin-right: 1.5rem;
    font-size: 1.2rem;    
    
}

.btn-register{
padding-left: 1rem;
padding-right: 1.63rem;    
    background: #E62B1E;
    color: #ffffff;
    font-size: 1rem;
}

.btn-register:hover{

    background: #E62B1E;
    color: black;
    font-size: 1rem;
}



.box-1-1 p{
    position: relative;
    top: 8px;
}










.box-2 img{
    padding-left: 200px;
    margin-top:-20px ;
    height:400px;
    width: 650px;

    
}    
    



/* Scroll arrow animation */

.arrow {
    position: relative;
    left:90%;
    transform: translate(-50%, -50%);
}

.arrow span {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid #E62B1E;
    border-right: 5px solid #E62B1E;
    transform: rotate(45deg);
    margin: -10px;
    animation: scroll1 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -.4s;
}

@keyframes scroll1 {
    0% {
        opacity: 1;
        transform: rotate(45deg) translate(-20px, -20px);
        border-bottom: 5px solid #ff6a06;
        border-right: 5px solid #ff9b06;
    }
    50% {
        opacity: 1;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    100% {
        opacity: 1;
        transform: rotate(45deg) translate(-20px, -20px);
    }
}