/* custom----------------------------------------------------- */


*{
margin: 0;
padding: 0;
font-family:  Helvetica, sans-serif, Arial;
}

body{

    background-color: #121212;
    height: 200vh;
    color: #ffffff;
}









/* Navbar------------------------------------------------------- */
.navbar-custom a{
    color: #ffffff !important;
    font-size: 1rem;
}




.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #ffffff;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #E62B1E;
    
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .hover-underline-animation:hover{
      color: #ffffff;
  }




.navbar-custom button{
    outline: #E62B1E;
}


.navbar-custom button:hover{
    background-color: #E62B1E;
}








/* Hero-section */


.hero-section h1{
    color: #ffffff;
    font-weight: 700;
    font-size: 6rem;

}